<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mvpapps.uae_pass_flutter">

  <uses-permission android:name="android.permission.INTERNET" />
  
  <application>
    <activity
      android:name=".UAEPassWebViewActivity"
      android:theme="@android:style/Theme.Material.Light.DarkActionBar"
      android:exported="false"
      android:screenOrientation="portrait" />
  </application>

</manifest>